---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #F0F0F0;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$title-font-size: 30px;
$subtitle-font-size: 22px;
$title-font-color: #FFF;
$subtitle-font-color: #B6B6B6;

$site-title-color: #fff;
$page-link-color: #fff;
$active-page-link-color: darken($page-link-color, 65%);

$wrapper-color: #fff;
$page-navbar-color: darken(#F0F0F0, 25%);

$index-title-font-size: 36px;
$index-title-font-color: #000;

$page-title-font-color: lighten($grey-color, 1%);
$page-subtitle-font-color: lighten($grey-color, 30%);
$page-subtitle-line-color: lighten($grey-color, 25%);

$navbar-icon-size: 48px;

$timeline-block-color: #FAFAFA;
// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "vtimeline",
        "syntax-highlighting"
;
