/**
* Site header
*/
.site-header {
    min-height: 56px;
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $site-title-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $page-link-color;
        line-height: $base-line-height;

        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    .active {
        color: $active-page-link-color;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
* Site footer
*/
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.site-footer-abs {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #EAEAEA;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.social-media-list {
    list-style-type: none;
    margin-left: -5px;

    > li {
        display: inline-block;
    }

    > li:not(:first-child) {
        margin-left: 5px;
    }

}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;    
    @extend %clearfix;
}

.footer-col {
    margin-bottom: $spacing-unit / 2;
}

/**
* Page content
*/
.page-content {
    position: relative;
    padding: $spacing-unit 0;
    z-index: 1;
    background-color: #EFEFEF;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-title-wrapper {
    position: relative;
    width: 50%;

    margin-left: auto;
    margin-right: auto;
    color: $index-title-font-color;
    border-bottom: 1px $grey-color-light solid;

    > h1 {
        font-size: $index-title-font-size;
        text-align: center;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
* Posts
*/
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.full-bg {
    background-attachment: scroll, fixed;
    background-color: #666;
    background-image: url("../images/overlay.png"), url("../images/bg0.jpg");
    background-position: top left, center center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
}

.banner {
    color: #CCCCCC;
    padding: 12em 0 26.5em 0;
    text-align: center;

    h2 { 
        font-size: 3.25em;
        line-height: 1em;
        font-weight: 300;
    }

    p {
        font-weight: 100;
        font-style: italic;
    }

    @include media-query($on-palm) {
        padding: 8em 0 16.5em 0;
    }
}

.page-banner {
    padding: 3.5em;
    > h1 {
        font-size: 3.45em;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: $page-title-font-color;
    }
}

.header-wrapper {
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.footer-wrapper {
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    text-align: center;
    @extend %clearfix;

    @include media-query($on-laptop) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.page-subtitle-wrapper {
    position: relative;
    width: 30%;

    margin-left: auto;
    margin-right: auto;
    color: $page-subtitle-font-color;
    border-top: 1px $page-subtitle-line-color solid;
    padding-top: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.header-icon {
    width: $navbar-icon-size;
    height: $navbar-icon-size;
    margin-top: 5px;
}

// Projects 
.projects {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
    }

    // The cards
    li:nth-child(odd) {
        width: 98%;
        height: 280px;
        border-radius: 5px;
        border: 1px solid #F3F8F8;
        background-color: #FCFFFF;
        margin: 1em;

        img {
            float: left;
            border-radius: 5px 0 0 5px;
            width: 25%;
            height: 100%;
            margin-right: 10px;
        }
    }

    li:nth-child(even) {
        width: 98%;
        height: 280px;
        border-radius: 5px;
        border: 1px solid #F3F8F8;
        background-color: #FCFFFF;
        padding: 0 5px;
        margin: 1em;
        text-align: right;

        img {
            float: right;
            border-radius: 0 5px 5px 0;
            width: 25%;
            height: 100%;
            margin-left: 10px;
        }
    }

    a, a:visited {
        color: #274060;
    }

    a:hover {
        color: #507DBC;
    }
    

    h1 {
        margin: 0;
        padding: 0;

        font-size: 36px;
        font-weight: 100;
    }

    h6 {
        color: #7C99B4;
        font-size: small;
        margin: 0;
        padding: 0;
    }

    p {
        color: #202020;
    }
}